<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8' />
  <title>Destino</title>
</head>
<body class='container'>
  <div class='card'>
    <h1><%= @feedback %></h1>
    Obrigada pelo feedback, volte sempre!
  </div>
</body>
</html>